{% extends 'base.html.twig' %}

{% block title %}Mail index
{% endblock %}

{% block body %}
	<h1 class="titre titre--64">Messagerie</h1>

	<div class=
    "messagerie"
    >

		{% for mail in mails %}

            <a href="{{path("app_admin_mail_show",{id : mail.id })}}">
                <div class="messagerie__container {{mail.vu ? ' messagerie__container--vu ' : ' messagerie__container--nonVu '}}">
                
                    <div class="messagerie__date">
                        <p class="texte texte--20">{{mail.sendAt|date('d / M / Y')}}</p>
                    </div>

                    <div class="messagerie__expediteur">
                        <p class="texte texte--20">{{mail.nom|upper}}</p>
                        <p class="texte texte--20">{{mail.prenom|capitalize}}</p>
                    </div>

                    <div class="messagerie__sujet">
                        <p class="texte texte--20">{{mail.sujet}}</p>
                    </div>
    {# 
                    <div class="messagerie__sujet">
                        <p>{{mail.sujet}}</p>
                    </div> #}

                </div>
            </a>

		{% endfor %}

	</div>


{% endblock %}

