{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Message n° {{mail.id}}{% endblock %}

{% block body %}
	<h1 class="titre titre--64">Mail n°{{mail.id}}</h1>

	<div class="mailShow">
		<div class="mailShow__expeditaire">
			<h2 class="titre titre--32">Expeditaire : </h2>
			<div class="mailShow__expeditaire__info">
				<p class="texte texte--20">{{mail.nom|upper}} {{mail.prenom|capitalize}}</p>
				<p class="texte texte--20">{{mail.mail}}</p>
				<a href="mailto:{{mail.mail}}" class="bouton bouton--secondary">Contacter</a>
				
			</div>
		</div>
        <div class="mailShow__message">
        <h2 class="titre titre--32">Message : </h2>
            <p class="texte texte--16">
                {{mail.message}}
            </p>
        </div>
	</div>
	<div class="mailShow__boutons">
		<a href="{{ path('app_admin_mail_index') }}" class="bouton bouton--secondary">Retour</a>

		{# <a href="{{ path('app_admin_mail_edit', {'id': mail.id}) }}">edit</a> #}

		{{ include('admin/mail/_delete_form.html.twig') }}
	</div>
{% endblock %}

