{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Espace admin
{% endblock %}

{% block body %}
	<div class="dashboard">

		<div class="dashboard__titre">
			<h1 class="titre titre--64">Espace Administrateur</h1>
		</div>

		<div class="dashboard__content">

			<div class="dashboard__boutons">
				<a href="{{path("app_admin_projets_index")}}" class="bouton bouton--primary">Gestion des projets</a>
				<a href="{{path("app_admin_mail_index")}}" class="bouton bouton--primary">Messagerie</a>
			</div>

			<div class="dashboard__boutons">
				<a href="{{path("app_admin_user_index")}}" class="bouton bouton--primary">Gestion de mes données</a>
				<a href="{{path("app_admin_classement_technologie_index")}}" class="bouton bouton--primary">Gestion des technologies</a>
			</div>
		</div>
	</div>
{% endblock %}

