{% extends 'base.html.twig' %}

{% block title %}Edit Projets{% endblock %}

{% block body %}
    <h1 class="titre titre--64">Ajouter un nouveau projet</h1>

        

    {# {{ include('admin/projets/_form.html.twig') }} #}
    {{ form_start(form, {"attr" : {'class' : 'formProjet'}}) }}
    
    <div class="formProjet__part1">

        {#! Form titre  #}

            {% if form.titre.vars.valid == true and form.titre.vars.value|length > 0 %}
                {{ form_row(form.titre,{ 'attr': {'class': 'input__text input--success formProjet__part1--titre'} } )}}
                
            {% else %}
                
                {% if form_errors(form.titre) %}

                    {{ form_row(form.titre,{ 'attr': {'class': 'input__text input--danger formProjet__part1--titre'} } )}}
                
                {% else %}
                
                    {% if form.titre.vars.value|length == 0 %}
                
                        {{ form_row(form.titre,{ 'attr': {'class': 'input__text input--empty formProjet__part1--titre'} } )}}

                    {% endif %}
                {% endif %}
            {% endif %}

        {#! Form lien  #}            
            {% if form.lien.vars.valid == true and form.lien.vars.value|length > 0 %}
                {{ form_row(form.lien,{ 'attr': {'class': 'input__text input--success formProjet__part1--lien'} } )}}
                
            {% else %}
                
                {% if form_errors(form.lien) %}

                    {{ form_row(form.lien,{ 'attr': {'class': 'input__text input--danger formProjet__part1--lien'} } )}}
                
                {% else %}
                
                    {% if form.lien.vars.value|length == 0 %}
                
                        {{ form_row(form.lien,{ 'attr': {'class': 'input__text input--empty formProjet__part1--lien'} } )}}

                    {% endif %}
                {% endif %}
            {% endif %}

        {#! Form github  #}            
            {% if form.github.vars.valid == true and form.github.vars.value|length > 0 %}
                {{ form_row(form.github,{ 'attr': {'class': 'input__text input--success formProjet__part1--github'} } )}}
                
            {% else %}
                
                {% if form_errors(form.github) %}

                    {{ form_row(form.github,{ 'attr': {'class': 'input__text input--danger formProjet__part1--github'} } )}}
                
                {% else %}
                
                    {% if form.github.vars.value|length == 0 %}
                
                        {{ form_row(form.github,{ 'attr': {'class': 'input__text input--empty formProjet__part1--github'} } )}}

                    {% endif %}
                {% endif %}
            {% endif %}

        {#! form description #}
            {% if form.description.vars.valid == true and form.description.vars.value|length > 0 %}
                {{ form_row(form.description,{ 'attr': {'class': 'input__textarea input--success formProjet__part1--description'} } )}}
                
            {% else %}
                
                {% if form_errors(form.description) %}

                    {{ form_row(form.description,{ 'attr': {'class': 'input__textarea input--danger formProjet__part1--description'} } )}}
                
                {% else %}
                
                    {% if form.description.vars.value|length == 0 %}
                
                        {{ form_row(form.description,{ 'attr': {'class': 'input__textarea input--empty formProjet__part1--description'} } )}}

                    {% endif %}
                {% endif %}
            {% endif %}


    </div>
    
    {#! form techno #}
    {{ form_widget(form.technologie) }}
    
    {#! form categories  #}
    <div class="formProjet__part3">
        {{ form_widget(form.categorie) }}
    </div>

    {#! form images  #}
    <div class="formProjet__part4">
         {{ form_row(form.image1,{"empty_data": oldImg[0]})}}
        {{ form_row(form.image2,{"empty_data": oldImg[1]})}}
        {{ form_row(form.image3,{"empty_data": oldImg[2]}) }}
    </div>
    
    {#! aperçu images  #}
    <div id="zone" >
        <div id="zone__img1">
            <img src="{{asset('images/' ~ cateProjet ~ '/' ~ img[0])}}" class="img250" alt="aperçu image 1">
        </div>
        <div class="zone__secondaire">
            <div id="zone__img2">
                <img src="{{asset('images/' ~ cateProjet ~ '/' ~ img[1])}}" class="img250" alt="aperçu image 2">
            </div>
            <div id="zone__img3">
                <img src="{{asset('images/' ~ cateProjet ~ '/' ~ img[2])}}" class="img250" alt="aperçu image 3">
            </div>
        </div>
    </div>
    
    <div class="formProjet__part5">
        <button class="bouton bouton--primary">{{ button_label|default('Modifier') }}</button>
        <a  class="bouton bouton--secondary" href="{{ path('app_admin_projets_index') }}">Retour</a>
    </div>


{{ form_end(form) }}

{% endblock %}
{% block script %}

<script>

    let inputImage1 = document.querySelector("#projets_image1");
    let inputImage2 = document.querySelector("#projets_image2");
    let inputImage3 = document.querySelector("#projets_image3");

    inputImage1.addEventListener("change",(event)=>{
        let zone = document.querySelector("#zone__img1")
        zone.innerHTML = null

        

        let image = document.createElement("img");

        image.setAttribute("src", URL.createObjectURL(event.target.files[0]) );
        image.setAttribute("class","img250");
        console.log(image);
        zone.append(image);
    })

    inputImage2.addEventListener("change",(event)=>{
        let zone = document.querySelector("#zone__img2")

        zone.innerHTML = null

        let image = document.createElement("img");

        image.setAttribute("src", URL.createObjectURL(event.target.files[0]) );
        image.setAttribute("class","img250");
        console.log(image);
        zone.append(image);
    })
    inputImage3.addEventListener("change",(event)=>{
        let zone = document.querySelector("#zone__img3")

        zone.innerHTML = null

        let image = document.createElement("img");

        image.setAttribute("src", URL.createObjectURL(event.target.files[0]) );
        image.setAttribute("class","img250");
        console.log(image);
        zone.append(image);
    })

        

        
    

</script>
{% endblock %}
