{% extends 'base.html.twig' %}

{% block title %}Technologie{% endblock %}

{% block body %}
    <h1>Technologie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technologie.id }}</td>
            </tr>
            <tr>
                <th>Technologie</th>
                <td>{{ technologie.technologie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_classement_technologie_index') }}">back to list</a>

    <a href="{{ path('app_admin_classement_technologie_edit', {'id': technologie.id}) }}">edit</a>

    {{ include('admin/classement/technologie/_delete_form.html.twig') }}
{% endblock %}
