{% extends 'base.html.twig' %}

{% block title %}{{parent() }}Mes projets{% endblock %}

{% block body %}
    {#? Section introduction  #}
        <section id="projets__introduction" class="projets__introduction">

            <h1 id="projets__introduction__titre" class="titre titre--64 idle__titre idle__titre--hide">Mes projets</h1>

            <div id="projets__introduction__texte" class="projets__introduction__texte idle__texte idle__texte--hide">

                <p class="texte texte--24">
                    Projet personnel ou effectué pour un tiers, retrouvez ici toutes mes réalisations classées par type.
                </p>



            </div>

        </section>

    {#? Section Projet site vitrine  #}
        <section   class="projets__vitrines">


            <div id="projets__vitrines__img"  class="projets__vitrines__mockup ctaShow__image ctaShow__image--hide"></div>

            <div id="projets__vitrines__container" class="projets__vitrines__container">


                <h2 id="projets__vitrines__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Interfaces et sites vitrines</h1>

                <div id="projets__vitrines__texte" class="projets__vitrines__texte ctaShow__texte ctaShow__texte--hide">

                    <p class="texte texte--16">
                        Réalisations pour lesquelles l’action est portée sur le style et le dynamisme de l’interface
                    </p>

                </div>


                <a id="projets__vitrines__bouton" href="{{path("app_front_catalogue",{"categorie" : projetCategorieId[1]})}}" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Voir les projets</a>
            </div>

            

        </section>




    {#? Section projet site complet #}
        <section class="projets__siteComplet">


            <div id="projets__siteComplet__img" class="projets__siteComplet__mockup ctaShow__image ctaShow__image--hide"></div>

            <div id="projets__siteComplet__container" class="projets__siteComplet__container">


                <h2 id="projets__siteComplet__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Des applications web complètes</h1>

                <div id="projets__siteComplet__texte" class="projets__siteComplet__texte ctaShow__texte ctaShow__texte--hide">

                    <p class="texte texte--16">
                        Réalisation plus poussée et plus complète avec diverses fonctionnalités autant sur le front-end que le back-end
                    </p>


                </div>


                <a href="{{path("app_front_catalogue",{"categorie" : projetCategorieId[0]})}}" id="projets__siteComplet__bouton" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Voir les projets</a>
            </div>

            

        </section>

    {#? Section projet POC  #}
        <section   class="projets__interfaces">


            <div id="projets__interfaces__img"  class="projets__interfaces__mockup ctaShow__image ctaShow__image--hide"></div>

            <div id="projets__interfaces__container" class="projets__interfaces__container">


                <h2 id="projets__interfaces__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Des fonctionnalité simples et des POC</h1>

                <div id="projets__interfaces__texte" class="projets__interfaces__texte ctaShow__texte ctaShow__texte--hide">

                    <p class="texte texte--16">
                        Au travers mes différentes expériences, j’ai accumulé un large panel de compétence qui me permet de répondre à vos attentes.
                    </p>



                </div>


                <a id="projets__interfaces__bouton" href="{{path("app_front_catalogue",{"categorie" : projetCategorieId[2]})}}" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Voir les projets</a>
            </div>

            

        </section>




    {#? Section projet autre #}
        <section class="projets__autre">


            <div id="projets__autre__img" class="projets__autre__mockup ctaShow__image ctaShow__image--hide"></div>

            <div id="projets__autre__container" class="projets__autre__container">


                <h2 id="projets__autre__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Autre projets</h1>

                <div id="projets__autre__texte" class="projets__autre__texte ctaShow__texte ctaShow__texte--hide">

                    <p class="texte texte--16">
                        Projets hors des lignes de codes ayant des buts tout aussi variés
                    </p>


                </div>


                <a href="{{path("app_front_catalogue",{"categorie" : projetCategorieId[3]})}}" id="projets__autre__bouton" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Voir les projets</a>
            </div>

            

        </section>
{% endblock %}
{% block script %}

    <script>

        {#? Variable intro #}
            let introTitre = document.querySelector("#projets__introduction__titre")
            let introTexte = document.querySelector("#projets__introduction__texte")
            // let introBouton = document.querySelector("#projets__introduction__bouton")
            let arrayIntro = [introTitre, introTexte]
        
        {#? Variable vitrine #}
            let sectionVitrine  = document.querySelector("#projets__vitrines__container")

            let vitrineTitre = document.querySelector("#projets__vitrines__titre")
            let vitrineTexte = document.querySelector("#projets__vitrines__texte")
            let vitrineBouton = document.querySelector("#projets__vitrines__bouton")
            let vitrineImg = document.querySelector("#projets__vitrines__img")

            let arrayVitrine = [vitrineTitre, vitrineTexte, vitrineBouton,vitrineImg]

        {#? Variable complet #}
            let sectionSiteComplet  = document.querySelector("#projets__siteComplet__container")

            let siteCompletTitre = document.querySelector("#projets__siteComplet__titre")
            let siteCompletTexte = document.querySelector("#projets__siteComplet__texte")
            let siteCompletBouton = document.querySelector("#projets__siteComplet__bouton")
            let siteCompletImg = document.querySelector("#projets__siteComplet__img")

            let arraySiteComplet = [siteCompletTitre ,siteCompletTexte ,siteCompletBouton,siteCompletImg]

        
        {#? Variable interface #}
            let sectionInterface  = document.querySelector("#projets__interfaces__container")

            let interfaceTitre = document.querySelector("#projets__interfaces__titre")
            let interfaceTexte = document.querySelector("#projets__interfaces__texte")
            let interfaceBouton = document.querySelector("#projets__interfaces__bouton")
            let interfaceImg = document.querySelector("#projets__interfaces__img")

            let arrayInterface = [interfaceTitre, interfaceTexte, interfaceBouton,interfaceImg]

        {#? Variable autre #}
            let sectionAutre  = document.querySelector("#projets__autre__container")

            let autreTitre = document.querySelector("#projets__autre__titre")
            let autreTexte = document.querySelector("#projets__autre__texte")
            let autreBouton = document.querySelector("#projets__autre__bouton")
            let autreImg = document.querySelector("#projets__autre__img")

            let arrayAutre = [autreTitre ,autreTexte ,autreBouton,autreImg]




        {#!  SCRIPT ANIMATION ON SCOLL #}


        window.addEventListener("DOMContentLoaded",introShowAnimate(arrayIntro));
        
        
        
    

        window.addEventListener("scroll", ()=>{
            let {scrollTop, clientHeight} = document.documentElement;
            
            showAnimeCTA(sectionVitrine,scrollTop, clientHeight*1.5,...arrayVitrine)
            showAnimeCTA(sectionSiteComplet,scrollTop, clientHeight*1.05,...arraySiteComplet)
            showAnimeCTA(sectionInterface,scrollTop, clientHeight*1.05,...arrayInterface)
            showAnimeCTA(sectionAutre,scrollTop, clientHeight*1.05,...arrayAutre)
            
        })

    </script>
{% endblock %}
