<h1>Bonjour Jeremy</h1>

<p> Vous avez reçu un mail de {{mail.nom|upper}} {{mail.prenom|capitalize}},</p>
<p>concernant {{mail.sujet}} .</p>
<p>Vous pourrez le contacter a l'adresse : {{mail.mail}}</p>
<p> Pour accéder à la liste des mails <a href={{url}}>cliquez ici</a> </p>

<p>Cordialement,</p>
<p>Jamdev</p>